h1,
h2,
h3,
h4,
h5,
span,
p,
li,
#oskused1-h1,
#oskused2-h1 {
    font-family: "Exo", sans-serif;
    color: #b8b8b8;
}


.haridus,
.kogemused,
.oskused1,
.oskused2,
.oskused1,
.oskused2 {
    margin: 4%;
    padding: 2%;
    border-radius: 5px;
}

.background {
    background-color: #040d12;
    margin: 2%;
    border-radius: 5px;
    min-width: 550px;
}

.kool1,
.kool2,
.kogemus1,
.kogemus2,
.oskused1,
.oskused2 {
    line-height: 25px;
}

p {
    max-width: 400px;
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

h3 {
    font-size: 12pt;
}

h2 {
    font-size: 16pt;
}

h1 {
    font-size: 24pt;
}


.haridus,
.kogemused,
.oskused {
    display: flex;
    justify-content: space-between;
}

.kool1,
.kool2,
.kogemus1,
.kogemus2,
.oskused1,
.oskused2 {
    width: 48%;
    /* Adjust the width as needed */
    box-sizing: border-box;
    padding: 2%;
}

.kool1,
.kool2,
.kogemus1,
.kogemus2,
.oskused1,
.oskused2 {
    background-color: #333;
    border-radius: 5px;
}